# Day 5

# -Modules and Virtual Environments

# 1.Module import and management

In [161]:
#importing multiple modules 

import math
import calendar

print(math.pi)

print(math.sqrt(432))

print(calendar.month(2023,9))

3.141592653589793
20.784609690826528
   September 2023
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30

In [173]:
def square(a):
    return a*a

In [174]:
import square

def main():
    nu=int(input())
    square.square(nu)
main()

ModuleNotFoundError: No module named 'square'

In [176]:
#4. Ensuring proper namespacing and handling naming conflict
from datetime import date
print(date.today())

2023-09-16

In [180]:
print(date.weekday(date.today()))

5

In [182]:
try:
    import factorial
except ImportError:
    print('Error')

Error

# 2.Virtual environment

In [184]:
#1
python -m venv myenv

#2
myenv\Scripts\activate

deactivate

#3
pip install Django

#4
pip freeze

SyntaxError: invalid syntax (1081044345.py, line 2)

# 3.Module dependency resolution

In [190]:
#1.
f=open('requirements.txt','w')
f.write('asgiref==3.6.0 \n')
f.write('Django==4.1.7 \n')
f.write('sqlparse==0.4.3 \n')
f.write('tzdata==2022.7 \n')
f.close()

In [ ]:
#2.

#write command

pip install -r requirements.txt

#3
pip check

In [210]:
#4
#we remove version specifications

asgiref
3.6.0
Django
4.1.7
sqlparse
0.4.3
tzdata
2022.7

# Database programing with MySql

# 1.Implement Inventory management System in python using MySql

In [32]:
import mysql.connector

In [33]:
conn=mysql.connector.connect(user='root',
                            password='Password@123',
                            host='127.0.0.1',
                            database='mla')

In [34]:
print(conn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001488360C4D0>

In [35]:
curs=conn.cursor()
print(curs)

CMySQLCursor: (Nothing executed yet)

In [36]:
curs

In [25]:
Ptable='''
create table Purchases(id int PRIMARY KEY,pquantity int)
'''
curs.execute(Ptable)

ProgrammingError: 1050 (42S01): Table 'purchases' already exists

In [37]:
show='''
show tables
'''
curs.execute(show)
for i in curs:
    print(i)

('inventory',)
('purchases',)
('sales',)

In [27]:
Stable='''
create table Sales(s_id int PRIMARY KEY,squantity int)
'''
curs.execute(Stable)

In [28]:
curs.execute("create table Inventory(p_id int PRIMARY KEY,quantity int)")

In [29]:
show='''
show tables
'''
curs.execute(show)
for i in curs:
    print(i)

('inventory',)
('purchases',)
('sales',)

In [39]:
pur_insert="insert into Purchases(id,pquantity) values(1,6)"
#pur_value=(1,6)
curs.execute(pur_insert)
conn.commit()
print(curs.rowcount,' rows are inserted')

1  rows are inserted

In [40]:
pur_insert="insert into Purchases(id,pquantity) values(2,5)"
curs.execute(pur_insert)
conn.commit()
print(curs.rowcount,' rows are inserted')

1  rows are inserted

In [41]:
pur_insert="insert into Purchases(id,pquantity) values(3,7)"

curs.execute(pur_insert)
conn.commit()
print(curs.rowcount,' rows are inserted')

1  rows are inserted

In [43]:
sal_insert="insert into Sales(s_id,squantity) values(1,2)"

curs.execute(sal_insert)
conn.commit()
print(curs.rowcount,' rows are inserted')

1  rows are inserted

In [51]:
sal_insert="insert into Sales(s_id,squantity) values(2,3)"

curs.execute(sal_insert)
conn.commit()
print(curs.rowcount,' rows are inserted')

1  rows are inserted

In [ ]:
inv_insert="insert into Inventory(p_id,quantity) values(1,10)"

curs.execute(inv_insert)
conn.commit()
print(curs.rowcount,' rows are inserted')

In [46]:
inv_insert="insert into Inventory(p_id,quantity) values(2,15)"

curs.execute(inv_insert)
conn.commit()
print(curs.rowcount,' rows are inserted')

1  rows are inserted

In [47]:
inv_insert="insert into Inventory(p_id,quantity) values(3,13)"

curs.execute(inv_insert)
conn.commit()
print(curs.rowcount,' rows are inserted')

1  rows are inserted

In [48]:
inv_insert="insert into Inventory(p_id,quantity) values(4,16)"

curs.execute(inv_insert)
conn.commit()
print(curs.rowcount,' rows are inserted')

1  rows are inserted

In [49]:
curs.execute("select * from Purchases")
for i in curs:
    print(i)

(1, 6)
(2, 5)
(3, 7)

In [52]:
curs.execute("select * from Sales")
for i in curs:
    print(i)

(1, 2)
(2, 3)

In [53]:
curs.execute("select * from Inventory")
for i in curs:
    print(i)

(1, 10)
(2, 15)
(3, 13)
(4, 16)

In [68]:
sql="select i.quantity,p.pquantity from Inventory i join Purchases p on i.p_id=p.id"
curs.execute(sql)
a=curs.fetchall()
for i in a:
    d=sum(i)
    print("Quantity in inventory should be ",d," after the purchases")

Quantity in inventory should be  16  after the purchases
Quantity in inventory should be  20  after the purchases
Quantity in inventory should be  20  after the purchases

In [69]:
sql="select i.quantity,s.squantity from Inventory i join Sales s on i.p_id=s.s_id"
curs.execute(sql)
a=curs.fetchall()
for i in a:
    d=i[0]-i[1]
    print("Quantity in inventory should be ",d," after the Sales")

Quantity in inventory should be  8  after the purchases
Quantity in inventory should be  12  after the purchases

# 2.Customer order processing

In [72]:
import mysql.connector

conn=mysql.connector.connect(user='root',
                            password='Password@123',
                            host='127.0.0.1',
                            database='mla')

print(conn)

curs=conn.cursor()
print(curs)

curs

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000148837D6090>
CMySQLCursor: (Nothing executed yet)

In [75]:
stable='''
create table customer (c_id int PRIMARY KEY,name varchar(10))
'''
curs.execute(stable)

In [76]:
curs.execute("create table product(p_id int PRIMARY KEY,quantity int,price int)")

In [81]:
stable='''
create table orders (o_id int,p_id int,c_id int,quantity int)
'''

curs.execute(stable)

In [82]:
cus_insert="insert into customer(c_id,name) values(101,'Tom')"

curs.execute(cus_insert)
conn.commit()
print(curs.rowcount,' rows are inserted')

1  rows are inserted

In [83]:
pro_insert="insert into product(p_id,quantity,price) values(201,10,1000)"

curs.execute(pro_insert)
conn.commit()
print(curs.rowcount,' rows are inserted')

1  rows are inserted

In [84]:
pro_insert="insert into product(p_id,quantity,price) values(202,11,150)"

curs.execute(pro_insert)
conn.commit()
print(curs.rowcount,' rows are inserted')

pro_insert="insert into product(p_id,quantity,price) values(203,15,2000)"

curs.execute(pro_insert)
conn.commit()
print(curs.rowcount,' rows are inserted')

pro_insert="insert into product(p_id,quantity,price) values(204,13,60)"

curs.execute(pro_insert)
conn.commit()
print(curs.rowcount,' rows are inserted')

pro_insert="insert into product(p_id,quantity,price) values(205,20,1500)"

curs.execute(pro_insert)
conn.commit()
print(curs.rowcount,' rows are inserted')

pro_insert="insert into product(p_id,quantity,price) values(206,8,100)"

curs.execute(pro_insert)
conn.commit()
print(curs.rowcount,' rows are inserted')

pro_insert="insert into product(p_id,quantity,price) values(207,16,800)"

curs.execute(pro_insert)
conn.commit()
print(curs.rowcount,' rows are inserted')

pro_insert="insert into product(p_id,quantity,price) values(208,10,240)"

curs.execute(pro_insert)
conn.commit()
print(curs.rowcount,' rows are inserted')

1  rows are inserted
1  rows are inserted
1  rows are inserted
1  rows are inserted
1  rows are inserted
1  rows are inserted
1  rows are inserted

In [87]:
ord_insert="insert into orders(o_id,p_id,c_id,quantity) values(1,206,101,4)"

curs.execute(ord_insert)
conn.commit()
print(curs.rowcount,' rows are inserted')

1  rows are inserted

In [89]:
ord_insert="insert into orders(o_id,p_id,c_id,quantity) values(2,208,101,1)"

curs.execute(ord_insert)
conn.commit()
print(curs.rowcount,' rows are inserted')

1  rows are inserted

In [90]:
ord_insert="insert into orders(o_id,p_id,c_id,quantity) values(3,203,101,5)"

curs.execute(ord_insert)
conn.commit()
print(curs.rowcount,' rows are inserted')

1  rows are inserted

In [94]:
#just a join statement
sql="select * from orders o join product p on o.p_id=p.p_id"
curs.execute(sql)
a=curs.fetchall()
for i in a:
    print(i)

(1, 206, 101, 4, 206, 8, 100)
(2, 208, 101, 1, 208, 10, 240)
(3, 203, 101, 5, 203, 15, 2000)

In [95]:
#calculate total cost
sql="select sum(p.price*o.quantity) from orders o join product p where o.p_id=p.p_id"
curs.execute(sql)
a=curs.fetchall()
for i in a:
    print(i)

(Decimal('10640'),)

In [97]:
#update quantity in product
sql="update product p, orders o set p.quantity=p.quantity-o.quantity where p.p_id=o.p_id "
curs.execute(sql)
conn.commit()
print(curs.rowcount,"row updated")

3 row updated

In [99]:
#handle out of stock cases
sql="select p.quantity, o.quantity from orders o join product p on o.p_id=p.p_id"
curs.execute(sql)
a=curs.fetchall()
for i in a:
    if i[0]<i[1]:
        print("Item not available")
    else:
        print('purchase possible')

purchase poosible
purchase poosible
purchase poosible

In [108]:
#order report
def order_report():
    sql="select c.c_id, c.name, o.p_id, p.price*o.quantity  from orders o, customer c join product p where o.p_id=p.p_id and  c.c_id=o.c_id"
    curs.execute(sql)
    a=curs.fetchall()
    for i in a:
        print(i)
order_report()

(101, 'Tom', 206, 400)
(101, 'Tom', 208, 240)
(101, 'Tom', 203, 10000)

# 3.You are tasked to developing a python program that connects to mysql database.
retrieves data from them and perform certsin tasks

In [109]:
import mysql.connector

conn=mysql.connector.connect(user='root',
                            password='Password@123',
                            host='127.0.0.1',
                            database='mla')



curs=conn.cursor()
print(curs)

curs

CMySQLCursor: (Nothing executed yet)

In [110]:
curs.execute("create table your_table(id int,name varchar(10),quantity int)")

In [114]:
sys="insert into your_table (id,name,quantity) values(1,'tom',45)"

curs.execute(sys)
conn.commit()
print(curs.rowcount," rows inserted")

sys="insert into your_table(id,name,quantity) values(2,'jos',32)"

curs.execute(sys)
conn.commit()
print(curs.rowcount," rows inserted")

sys="insert into your_table(id,name,quantity) values(3,'abhi',23)"

curs.execute(sys)
conn.commit()
print(curs.rowcount," rows inserted")

1  rows inserted
1  rows inserted
1  rows inserted

In [115]:
sql="select * from your_table"             #fetching table data
curs.execute(sql)
a=curs.fetchall()
for i in a:
    print(i)

(1, 'tom', 45)
(2, 'jos', 32)
(3, 'abhi', 23)

In [116]:
sql="select sum(quantity) from your_table"       #total quantity
curs.execute(sql)
a=curs.fetchall()
for i in a:
    print(i)

(Decimal('100'),)

In [117]:
sql="update your_table set quantity=quantity*2  "   #updating quantity
curs.execute(sql)
conn.commit()                                       #commit changes
print(curs.rowcount,"row updated")

3 row updated

In [118]:
conn.close()                                        #close

In [ ]:
'''import mysql.connector
try:
    conn=mysql.connector.connect(user='root',
                            password='Password@123',
                            host='127.0.0.1',
                            database='mla')
    curs=conn.cursor()
    print(conn)
except:
    '''

# 4.You are manging a Employee management system for your company.
Perform the required tasks

In [140]:
import mysql.connector

conn=mysql.connector.connect(user='root',
                            password='Password@123',
                            host='127.0.0.1',
                            database='mla')
curs=conn.cursor()
print(conn)
curs

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000014883D6E190>

In [141]:
curs.execute("create table employee(name varchar(10),salary int,dept varchar(10),hiredate date)")

In [142]:
sys="insert into employee (name,salary, dept,hiredate) values('tom',4500,'dev','2003-06-12')"

curs.execute(sys)
conn.commit()
print(curs.rowcount," rows inserted")

1  rows inserted

In [143]:
sys="insert into employee (name,salary, dept,hiredate) values('jon',5500,'test','2005-04-12')"

curs.execute(sys)
conn.commit()
print(curs.rowcount," rows inserted")
sys="insert into employee (name,salary, dept,hiredate) values('jos',6500,'idea','2010-07-02')"

curs.execute(sys)
conn.commit()
print(curs.rowcount," rows inserted")
sys="insert into employee (name,salary, dept,hiredate) values('isi',4000,'dev','2002-07-22')"

curs.execute(sys)
conn.commit()
print(curs.rowcount," rows inserted")
sys="insert into employee (name,salary, dept,hiredate) values('tom',5400,'test','2009-04-08')"

curs.execute(sys)
conn.commit()
print(curs.rowcount," rows inserted")

1  rows inserted
1  rows inserted
1  rows inserted
1  rows inserted

In [144]:
curs.execute("select * from employee")
a=curs.fetchall()
for i in a:
    print(i)

('tom', 4500, 'dev', datetime.date(2003, 6, 12))
('jon', 5500, 'test', datetime.date(2005, 4, 12))
('jos', 6500, 'idea', datetime.date(2010, 7, 2))
('isi', 4000, 'dev', datetime.date(2002, 7, 22))
('tom', 5400, 'test', datetime.date(2009, 4, 8))

In [145]:
#2.specific dept details
curs.execute("select * from employee where dept='dev'")
a=curs.fetchall()
for i in a:
    print(i)

('tom', 4500, 'dev', datetime.date(2003, 6, 12))
('isi', 4000, 'dev', datetime.date(2002, 7, 22))

In [155]:
#3.salary increment
sql="update employee set salary=salary+(current_date()-hiredate)/100 "
curs.execute(sql)
conn.commit()                                       
print(curs.rowcount,"row updated")

5 row updated

In [156]:
curs.execute("select * from employee")
a=curs.fetchall()
for i in a:
    print(i)

('tom', 6503, 'dev', datetime.date(2003, 6, 12))
('jon', 7305, 'test', datetime.date(2005, 4, 12))
('jos', 7802, 'idea', datetime.date(2010, 7, 2))
('isi', 6102, 'dev', datetime.date(2002, 7, 22))
('tom', 6805, 'test', datetime.date(2009, 4, 8))