# 1.Manipulate using a list

In [1]:
lst=[1,2,3,4,5,6]

In [2]:
lst.append(7)
# i)add eol

In [3]:
lst

[1, 2, 3, 4, 5, 6, 7]

In [4]:
lst.reverse()
lst
# ii)reverse

[7, 6, 5, 4, 3, 2, 1]

In [5]:
lst*2
# iii)multiple times

[7, 6, 5, 4, 3, 2, 1, 7, 6, 5, 4, 3, 2, 1]

In [7]:
print(lst,'\n',lst)

[7, 6, 5, 4, 3, 2, 1]
 [7, 6, 5, 4, 3, 2, 1]

In [8]:
lst+lst
# iv)concatenate

[7, 6, 5, 4, 3, 2, 1, 7, 6, 5, 4, 3, 2, 1]

In [11]:
lst.sort()
lst
# v)sorting

[1, 2, 3, 4, 5, 6, 7]

# 2.Write a python program to do in the tuples

In [12]:
tup=(23,13,353,534,1232,543)

In [13]:
#manipulating tuple is not possible because tuples are immutable

# 3.Write a python program to implement the following using list

In [14]:
#1.create a list with intergers(minimum 10 numbers)

In [15]:
lst2=[23,233,345,323,3453,223,43,234,354,554,65,345]

In [16]:
#2.how to display the last number of the lsit

In [17]:
print(lst2[-1])

345

In [18]:
#3.command for displaying the values from the list [0:4]

In [19]:
print(lst2[0:4])

[23, 233, 345, 323]

In [20]:
#4.command for displaying the values from the list [2:]

In [21]:
print(lst2[2:])

[345, 323, 3453, 223, 43, 234, 354, 554, 65, 345]

In [22]:
#5.command for displaying the values from the list [0:6]

In [23]:
print(lst2[:6])

[23, 233, 345, 323, 3453, 223]

# 4.Write a Python program: tuple1=(10,50,20,40,30)

In [24]:
tuple1=(10,50,20,40,30)

In [ ]:
#1.display elements 10 and 50

In [25]:
print(tuple1[0],tuple1[1])

10 50

In [26]:
#2.display length of tuple

In [27]:
print(len(tuple1))

5

In [28]:
#3.find minimum element from tuple1

In [31]:
print(min(tuple1))

10

In [32]:
#4.to add all elements in tuple

In [34]:
sum=0
for i in tuple1:
    sum+=i
print(sum)

150

In [35]:
#5.to display multiple times

In [39]:
n=int(input('Enter the number of times to display the tuple'))
print(tuple1*n)           #to display elements multiple times
for i in range(0,n):      #to display tuple multiple times
    print(tuple1)

Enter the number of times to display the tuple2
(10, 50, 20, 40, 30, 10, 50, 20, 40, 30)
(10, 50, 20, 40, 30)
(10, 50, 20, 40, 30)

# 5.Write a python program

In [40]:
str="You shall not pass!!"

In [41]:
#1.length of string

In [42]:
print(len(str))

20

In [ ]:
#2.reverse

In [45]:
ls=str.split()
ls.reverse()
ls

['pass!!', 'not', 'shall', 'You']

In [48]:
rev=""
for i in ls:
    rev+=i
    rev+=' '
print(rev)

pass!! not shall You

In [49]:
#3.to display the string multiple times

In [50]:
n=int(input('enter n'))
print(str*n)

enter n2
You shall not pass!!You shall not pass!!

In [51]:
#4.concatenate str and rev

In [52]:
str+rev

'You shall not pass!!pass!! not shall You '

In [ ]:
#5.string slicing

In [54]:
Str1='South India'
print(Str1[6:])

India

# 6.Perform the following

In [ ]:
#1.creating a dictionary

In [57]:
dict={'name':'aragorn','age':87,'kingdom':'Gondor'}
dict

{'name': 'aragorn', 'age': 87, 'kingdom': 'Gondor'}

In [154]:
#2.Accessing values and keys
for i in dict:
    print(i)

name
age
kingdom

In [156]:
for i in dict:
    print(dict[i])

aragorn
87
Gondor

In [ ]:
#3.updating using a function

In [ ]:
#4.clear and delete the dictionary value

# 7.Python program to insert a number to any position in a list

In [77]:
lst

[1, 2, 3, 4, 5, 6, 7]

In [78]:
pos=int(input("enter the position"))
val=int(input("enter the value"))
lst.insert(pos,val)
print(lst)

enter the position3
enter the value65
[1, 2, 3, 65, 4, 5, 6, 7]

# 8.Python program to delete an element from a list using index

In [79]:
lst

[1, 2, 3, 65, 4, 5, 6, 7]

In [80]:
pos=int(input("enter the position"))
lst.remove(pos)
lst

enter the position3

[1, 2, 65, 4, 5, 6, 7]

# 9.Write a program to display a number from 1 to 100

In [157]:
#display a number from 1 to 100?????
for i in range(1,101):
    print(i)      #displaying all numbers from 1 to 100

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

# 10.Write a python program to find the sum of all items in a tuple

In [81]:
tuple1

(10, 50, 20, 40, 30)

In [82]:
sum=0
for i in tuple1:
    sum+=i
print(sum)

150

# 11.Create a dictionary containning 3 lambda functions square,cube,squareroot

In [160]:
#1.
dict1={'Square':pow(n,2),'Cube':pow(n,3),'Squareroot':pow(n,0.5)}

In [161]:
#2.
n=int(input('Enter the number'))
dict1

Enter the number4

{'Square': 16, 'Cube': 64, 'Squareroot': 2.0}

In [164]:
#3.add outputs of each function
n=int(input('Enter the number'))
sum=0
for i in dict1:
    sum=sum+dict[i]
print(sum)

Enter the number4

KeyError: 'Square'

# 12.Find the words that have second character uppercase

In [ ]:
ls=['hello','Dear','hOw','ARe','You']
for i in ls:
    if i

# 13.Find how much they will weigh on moon

In [97]:
#1.
WeightOnEarth={'John':45,'Shelly':65,'Marry':35}
WeightOnEarth

{'John': 45, 'Shelly': 65, 'Marry': 35}

In [98]:
#2.
GMoon=1.622

In [99]:
#3.
GEarth=9.81

In [104]:
for keys in WeightOnEarth:
    wmoon=(WeightOnEarth.values * GMoon)/GEarth
    print(wmoon)

TypeError: unsupported operand type(s) for *: 'builtin_function_or_method' and 'float'

# CONTROL STRUCTURES

# 1.Prime numbers

In [115]:
n=int(input("Enter the number of prime numbers"))
count=0
i=2
while count<n:
    flag=0
    if n==1:
        print(2)
        break
    for j in range(2,i):
        if i%j==0:
            flag=1
            break
    if flag==0:
        print(i)
        count+=1
    if count==n:
        break
    i+=1

Enter the number of prime numbers3
2
3
5

# 2.Salary

In [116]:
sal=int(input('enter the basic salary'))
hra=int(input('enter hra'))
ta=int(input('enter ta'))
da=int(input('enter the da'))
gross=sal+hra+ta+da
tax=0.1*gross
net=gross-tax
print(net)

enter the basic salary43243
enter hra234
enter ta325
enter the da345
39732.3

# 3.Search String

# 4.

# 5.odd and even

In [117]:
sumeven=0
sumodd=0
for i in range(13,37):
    if i%2==0:
        sumeven+=i
    else:
        sumodd+=i
print("even sum =",sumeven)
print('odd sum =',sumodd)

even sum = 300
odd sum = 288

# 6.number table

In [118]:
n=int(input('enter number'))
for i in range(1,21):
    print(i,'x',n,'=',i*n)

enter number4
1 x 4 = 4
2 x 4 = 8
3 x 4 = 12
4 x 4 = 16
5 x 4 = 20
6 x 4 = 24
7 x 4 = 28
8 x 4 = 32
9 x 4 = 36
10 x 4 = 40
11 x 4 = 44
12 x 4 = 48
13 x 4 = 52
14 x 4 = 56
15 x 4 = 60
16 x 4 = 64
17 x 4 = 68
18 x 4 = 72
19 x 4 = 76
20 x 4 = 80

# 7.sum of prime

In [122]:
count=0
sum=0
i=2
while count<11:
    flag=0
    if n==1:
        print(2)
        break
    for j in range(2,i):
        if i%j==0:
            flag=1
            break
    if flag==0:
        sum+=i
        count+=1
    if count==11:
        break
    i+=1  
print(sum)

160

# 8.Arithmetic operation with nested if

# 9.celsius to farenheit

In [124]:
temp=int(input('temperature in celsius'))
print(temp*1.8+32)

temperature in celsius50
122.0

# 10.max and min in list

In [125]:
lst=[43,434,654,12,324,56]
max=0
min=lst[0]
for i in lst:
    if max<i:
        max=i
    if min>i:
        min=i
print(max)
print(min)

654
12

# 11.number of seconds in a month

In [126]:
print(30*24*60*60)

2592000

# 12.number of seconds in a year

In [127]:
print(365*24*60*60)

31536000

# 13.train

In [129]:
speed=150
dis=414
time=dis/speed
print(time,'hrs')

2.76 hrs

# 14.total hours in school

In [130]:
print(192*6*5,'hrs')

5760 hrs

# 15.age problem

In [131]:
r=int(input('enter age of ram'))
s=int(input('enter age of sam'))
k=int(input('enter age of khan'))
if r>s and r>k:
    if s>k:
        print('Ram eldest,Khan youngest')
    else:
        print('Ram eldest,Sam youngest')
if r<s and k<s:
    if r>k:
        print('Sam eldest,Khan youngest')
    else:
        print('Sam eldest,Ram youngest')
if k>s and r<k:
    if s>r:
        print('Khan eldest,Ram youngest')
    else:
        print('Khan eldest,Sam youngest')

enter age of ram23
enter age of sam22
enter age of khan24
Khan eldest,Sam youngest

# 16.Rotate list

# 17.Python Programs to print patterns

In [153]:
for i in range(0,5):
    print(pow(11,i))

1
11
121
1331
14641

In [133]:
for i in range(1,6):
    print('*'*i)

*
**
***
****
*****

In [150]:
n=9
for i in range(1,8):
    print(" "*n,('* ')*i)
   
    n-=1

          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *

In [144]:
str='Python'
for i in range(0,len(str)):
    print (str[slice(0,i+1)])

P
Py
Pyt
Pyth
Pytho
Python